.box{
  margin: 0 auto;
  width:400px;
  height:200px;
text-align: center;
background-color: pink;
padding-top: 20px;
}

.yellow{
  color:yellow;
}

h3{
  text-transform: uppercase;
  font-family: sans-serif;
}
